* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
}

p {
    font-size: 24px;
}

html, body {
    height: 100%;
}

body {
    background: #131213;
    position: relative;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 500px;
    bottom: 50%;
    height: 133px;
    background: black;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    align-items: stretch;
    transition: all 2s ease-in-out;
}

.player__cover, .player__cover img {
    height: 100%;
    width: auto;
    position: relative;
}

.player__cover button {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.player__cover:hover button {
    opacity: 1;
}

.player__data {
    flex: 1;
}

.player__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player__data, .player__icons {
    padding: 16px;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container .text {
    display: inline-block;
    background: #131213;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    transform-origin: bottom center;
    animation: SlideIn 0.5s forwards ease-in-out;
    font-size: 32px;
}

@keyframes SlideIn {
    0% {
        scale: 0;
        transform-origin: bottom center;
        transform: translateY(-50%);
    }
    100% {
        scale: 1;
        transform-origin: bottom center;
        transform: translateY(0%);
    }

}

@media screen and (max-width: 768px) {
    .player {
        width: 90%;
        height: 80px;
    }

    h1, p {
        font-size: 14px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .player__cover button {
        width: 40px;
        height: 40px;
    }

    .text-container .text{
        font-size: 24px;
    }
}

@media screen and (max-width: 550px) {
    .player {
        width: 100%;
    }

    .text-container .text{
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .player {
        width: 100%;
    }

    .text-container .text{
        font-size: 16px;
    }
}